* { margin: 0; padding: 0; box-sizing: border-box; }

body {
  background-color: hsl(223, 64%, 98%);
  font-family: 'Kumbh Sans', sans-serif;
  padding-bottom: 5rem;
}
.nav_container {
  padding: 0 7vw;
  position: relative;
  height: 6rem;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid #acacacb3;
}
.nav_wrapper {
  width: 54%;
  height: 90%;
  z-index: 2;
}
.nav_container .nav_links {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  /* background: white; */
  transition: transform 0.5s, opacity 0.3s ease-in-out;
}
.nav_container .logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  margin-right: 4vw;
  padding: 0 0 4px 9px;
}
.nav_container .nav_links ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 70%;
  min-width: 23rem;
  height: 100%;
}
.nav_container .nav_links ul li {
  height: 100%;
  width: 20%;
  display: grid;
  place-items: center;
  transition: box-shadow 0.3s;
  cursor: pointer;
}
.nav_container .nav_links ul li:hover {
  box-shadow: 0px 5px 0px hsl(26, 100%, 55%);
}
.cart_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 8rem;
  margin-left: auto;
}
#avatarImage {
  height: 3.5rem;
  border-radius: 50%;
  /* box-shadow: 2px 2px 0 hsl(26, 100%, 55%); */
}
#avatarImage:hover {
  outline: 3px solid hsl(26, 100%, 55%);
}
#open_menu,
#close_menu {
  display: none;
}
.nav_container .cart {
  background: white;
  position: absolute;
  min-height: 14rem;
  top: 100%;
  right: 4rem;
  width: 21.5rem;
  border-radius: 0 0 4% 4%;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;
  transition: transform 0.4s, opacity 0.3s;
  transform: translateY(-100%);
  opacity: 0;
  pointer-events: none;
  box-shadow: rgb(17 17 26 / 10%) 0px 8px 50px, rgb(17 17 26 / 10%) 0px 16px 56px, rgb(17 17 26 / 10%) 0px 24px 80px;
}
#cartIcon:hover {
  filter: invert(1);
}
.cart h3 {
  padding: 1rem 1.5rem;
  color: hsl(220, 13%, 13%);
}
#cart_empty h4 {
  color: hsl(219, 9%, 45%);
}
#cart_empty {
  position: absolute;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  z-index: -1;
}
#checkout_button {
  padding: 0.9rem;
  border-radius: 5px;
  border: none;
  outline: none;
  background: hsl(26, 100%, 55%);
  width: 100%;
  font-weight: 600;
  color: white;
  font-family: 'Kumbh Sans';
  margin-top: 0.2rem;
}
#cart_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  height: 80%;
  padding: 0.4rem 1.5rem 1.8rem 1.5rem;
  border-top: 1px #acacacb3 solid;
  border-radius: 1rem 1rem 0 0;
  background: white;
  flex-direction: column;
}
.cart_item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 1.2rem 0;
}
.cart_item img:first-child {
  width: 2.5rem;
  border-radius: 3px;
}
.item_details {
  width: -webkit-fill-available;
  padding-left: 1.2rem;
}
.item_details p {
  color: hsl(220, 13%, 13%);
  word-spacing: 2px;
  line-height: 1.5rem;
}
.item_details span {
  font-weight: bold;
}
li a {
  text-decoration: none;
  color: hsl(219, 9%, 45%);
}
/* -------------------------Product page---------------------------------------- */
.product_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}

.product_container > div {
  height: 35rem;
  width: 28rem;
}
#details_box {
  height: 32rem;
  margin: -2rem 0 0 8vw;
}
#details_box p:first-child {
  color: hsl(26, 100%, 55%);
  font-weight: bold;
}
.image_container .main_image {
  height: 76%;
}
.image_container .thumbnail_box {
  height: 20%;
}
#image_wrapper {
  width: 100%;
  height: 100%;
  /* box-shadow: -10px -10px 10px rgb(255 255 255 / 20%), 10px 10px 7px rgb(0 0 0 / 10%); */
  position: relative;
  overflow: hidden;
  border-radius: 3%;
}
#image_wrapper .arrows {
    height: 1.6rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    right: 1rem;
}
.arrowLeft {
    left: 1rem;
    z-index: 1;
    -webkit-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
}
#imgWrap {
    height: 100%;
    width: 400%;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: .5s ease-in-out;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
#imgWrap > div {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}
.productView {
  height: 100%;
  width: 100%;
  /* border-radius: 3%; */
  /* height: clamp(8rem,50vw,12rem); */
}
.image_container .thumbnail_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.thumbnail_box img {
  height: 75%;
  width: 20%;
  object-fit: cover;
  margin-top: auto;
  border-radius: 10%;
  transition: 0.4s opacity;
}
.thumbnail_box img:hover {
  opacity: 0.5;
}
.thumbActive {
  outline: 2px solid hsl(26, 100%, 55%);
  opacity: 0.5;
}
.details_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.details_container h1 {
  font-size: 3.1rem;
  margin: -1.5rem 0 -0.6rem 0;
  color: hsl(220, 13%, 13%);
}
.about {
  line-height: 1.5rem;
  word-spacing: 2px;
}
.price_box > div {
  display: flex;
  margin: -1rem 0 0.5rem 0;
  align-items: center;
}
#discount_box {
  background: red;
  height: 2rem;
  width: 3rem;
  display: grid;
  place-items: center;
  background-color: hsl(25, 100%, 94%);
  border-radius: 5px;
}
#discount_box h4 {
  color: hsl(26, 100%, 55%);
  font-weight: lighter;
}
.price_box h2 {
  line-height: 3.5rem;
  font-size: 2rem;
  margin-right: 2rem;
  color: hsl(220, 13%, 13%);
}
.price_box p {
  font-weight: bold;
  color: hsl(220, 14%, 75%);
}
.counter_box {
  display: flex;
}
.counter_box .counter {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 36%;
  background: hsl(0, 0%, 100%);
  border-radius: 6px;
  margin-right: 1rem;
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
}
.counter_box .counter button {
  padding: 4px;
  border: none;
  outline: none;
  background: transparent;
}
.counter_box .counter button:hover {
  opacity: 0.7;
}
.addToCartButton {
  width: 60%;
  background: hsl(26, 100%, 55%);
  height: 3.3rem;
  border-radius: 6px;
  border: none;
  outline: none;
  font-family: 'Kumbh Sans';
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  font-size: 1rem;
}
.addToCartButton:hover {
  opacity: 0.7;
}
.counter_box svg {
  margin-right: 1rem;
}
.lightbox_active {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  display: grid;
  place-items: center;
  background: #000000cc;
}
.image_container {
  height: 35rem;
  width: 28rem;
}

@media only screen and (max-width: 1000px) {
  .product_container {
    flex-direction: column;
    margin-top: 6vw;
  }
  .product_container > div {
    width: 100%;
    height: auto;
  }
  .image_container,
  #lightbox {
    width: 100%;
    height: auto;
  }
  #details_box {
    margin-left: 0;
    margin-top: 2rem;
    padding: 0 2rem;
    height: auto;
    max-width: 30rem;
  }
  .image_container .main_image {
    height: clamp(10rem, 95vw, 30rem);;
    display: grid;
    place-items: center;
  }
  .productView {
    border-radius: 0;
    max-width: 30rem;
  }
  .image_container .thumbnail_box {
    display: none;
  }
  .details_container h1 {
    margin: 1.5rem 0 1.5rem 0;
    font-size: 2rem;
  }
  .price_box {
    margin: 2rem 0 0rem 0;
  }
  .counter_box {
    flex-direction: column;
    width: 100%;
  }
  .counter_box .counter {
    width: 100%;
    height: 3rem;
  }
  .addToCartButton {
    width: 100%;
    margin-top: 1rem;
  }
  .price_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.3rem;
  }
  .price_box > div {
    margin: 0;
  }
}



@media only screen and (max-width: 800px) {
  .nav_container {
    height: 4rem;
    border-bottom: none;
  }
  .nav_container .nav_links {
    width: 70%;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 3rem;
    transform: translate(-100%);
    pointer-events: none;
  }
  .nav_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    pointer-events: none;
  }
  .nav_container .nav_links ul {
    flex-direction: column;
    width: auto;
    min-width: auto;
    height: auto;
  }
  .nav_container .nav_links ul li {
    margin-bottom: 3rem;
    height: 1.5rem;
    place-items: flex-start;
    width: 100%;
  }
  .nav_container .cart_container {
    width: 5rem;
  }
  .nav_container .cart {
    width: 90%;
    max-width: 21rem;
    right: 5%;
  }
  #avatarImage {
    height: 2rem;
  }
  #open_menu {
    display: block;
  }
  #close_menu {
    margin-top: 5rem;
    margin-bottom: 3rem;
    display: block;
    width: 1.3rem;
  }
  #image_wrapper {
    border-radius: 0;
  }

}
@media only screen and (max-width: 420px) {
  .product_container {
    margin-top: 0;
  }
  .price_box h2 {
    margin-right: 1rem;
    font-size: 1.7rem;
  }
  .item_details {
    padding-left: 1rem;
  }
}
.nav_container .active,
.cart .active {
  transform: translate(0);
  pointer-events: all;
  opacity: 1;
}
.hide {
  display: none !important;
}
